@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #bbdefb;
}

h1 {
  margin: 0;
}

header {
  background-color: #8aacc8;
  color: #000000;
  text-align: center;
  padding: .8rem;
}

form {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  background-color: #fff;
  padding: 1rem 2rem;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
}

.error-message {
  margin: 0 auto;
  background-color: #c62828;
  color: #fff;
  padding: 1rem;
  width: 400px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.mui-textfield,
.mui-select,
.mui-btn {
  width: 200px;
}

.response {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 2px 0 rgba(0,0,0,.12);
  max-width: 400px;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem;
}

.response h3 {
  font-size: 1.5rem;
  margin: 0;
}

.response p {
  font-size: 1.3rem;
  margin: 0;
}

.response .temperature {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  form {
    flex-direction: column;
  }
  .mui-textfield,
  .mui-select,
  .mui-btn {
    width: 100%;
  }
  .response {
    width: 70%;
  }
}